parameters:
    level: 4
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
    excludePaths:
        - %currentWorkingDirectory%/vendor
    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'
    treatPhpDocTypesAsCertain: false
